/* navbar */
@import url("/component/nav.css");
@import url("/component/hero.css");
@import url("/component/article.css");
@import url("/component/about.css");
@import url("/component/subscribe.css");
@import url("/component/footer.css");
@import url("/component/responsive.css");
@import url("/component/normalize.css");

:root {
    --secondary__color: #CBDEEC;
    --font__size: 16px;
    --section__title: 32px;
    --section__gap: 32px;
    --heading: 112px;
    --div__gap: 48px;
    --about__padding: 224px 74px 264px 102px;
    --btn__padding: 0px 40px;
    --hero__height: 932px;
    --drone__width: 752px;
    --drone__height: 853px;
    --article__container-gap: 144px;
    --text-color: #000;
    --hero__line-height: 7px;
    --hero__line-width: 128px;
    --article__background: #F8F8F8;
    --card__width: 282px;
    --card__height: 376px;
    --card__margin: 48px;
    --card__gap: 48px;
    --subscribe__conatiner: 586px;
    --icon__gap: 32px;
    --footer__link-gap: 80px;
}
  

* {
    margin: 0;
    font-family: 'Inter', sans-serif;
    padding: 0;
    box-sizing: border-box;

}

input ::placeholder {
    text-align: center;
}


.content {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* end of footer */

/* nav style */

@media (max-width: 650px) {

    .navbar{
        display: none;
        position: fixed;
        top: 90px;
        height: 100%;
        left: 0;
        margin-left: 24px;
        margin-right: 24px;
        background-color: #C2DCF2;
        width: -webkit-fill-available;
        z-index: 9999;
    }

    .nav-btn {
        display: none;
    }

    .nav-open {
        display: block;
    }

    .nav-list {
        flex-direction: column;
        row-gap: 50px;
        align-items: center;
        
    }
  
    .hamburger {
        display: block;
    }
  
    .hamburger.open .bar:nth-child(1) {
        transform: translateY(7px) rotate(-45deg);
    }
  
    .hamburger.open .bar:nth-child(2) {
        opacity: 0;
    }
  
    .hamburger.open .bar:nth-child(3) {
        transform: translateY(-7px) rotate(45deg);
    }
} 


